@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  font-family: Futura,'Noto Sans JP',Trebuchet MS,Arial,sans-serif;
  font-size: 100%; }
  body .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    body .works .work {
      overflow: hidden;
      width: 200px;
      height: 200px; }
      body .works .work .image-jpg {
        width: 200px;
        height: 200px; }
      body .works .work .image-gif {
        display: none;
        width: 200px;
        height: 200px; }
      body .works .work:hover {
        -webkit-filter: none;
                filter: none;
        animatino: flash 1.5s;
        -webkit-animation: flash 1.5s; }
        body .works .work:hover .image-jpg {
          display: none; }
        body .works .work:hover .image-gif {
          display: inline; }

@-webkit-keyframes flash {
  0% {
    opacity: .4;
    -webkit-filter: none;
            filter: none; }
  100% {
    -webkit-filter: none;
            filter: none; } }

@keyframes flash {
  0% {
    opacity: .4;
    -webkit-filter: none;
            filter: none; }
  100% {
    -webkit-filter: none;
            filter: none; } }
